<div class="container">
  <div class="row text-center">

    <div class="col-md-4">
      <div class="box-container m-3 p-4 p-lg-5 border bg-light">
        <h3 class="text-dark">Lorem, ipsum.</h3>
        <p class="about-icon py-3">
          <fa-icon [icon]="faDesktop"></fa-icon>
        </p>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, autem.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-container m-3 p-4 p-lg-5 border bg-dark">
        <h3 class="text-light">Lorem, ipsum.</h3>
        <p class="about-icon py-3">
          <fa-icon [icon]="faChartLine"></fa-icon>
        </p>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, autem.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-container m-3 p-4 p-lg-5 border bg-light">
        <h3 class="text-dark">Lorem, ipsum.</h3>
        <p class="about-icon py-3">
          <fa-icon [icon]="faCalendarAlt"></fa-icon>
        </p>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, autem.
        </p>
      </div>
    </div>

  </div>

  <div class="row text-center">

    <div class="col-md-4">
      <div class="box-container m-3 p-4 p-lg-5 border bg-dark">
        <h3 class="text-light">Lorem, ipsum.</h3>
        <p class="about-icon py-3">
          <fa-icon [icon]="faDesktop"></fa-icon>
        </p>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, autem.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-container m-3 p-4 p-lg-5 border bg-light">
        <h3 class="text-dark">Lorem, ipsum.</h3>
        <p class="about-icon py-3">
          <fa-icon [icon]="faChartLine"></fa-icon>
        </p>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, autem.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-container m-3 p-4 p-lg-5 border bg-dark">
        <h3 class="text-light">Lorem, ipsum.</h3>
        <p class="about-icon py-3">
          <fa-icon [icon]="faCalendarAlt"></fa-icon>
        </p>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, autem.
        </p>
      </div>
    </div>

  </div>

</div>
