<div class="header-container container-fluid">
  <div class="row">
    <div class="col-4 header-container-section">
      <h1 (click)="goToInfoPage()">Moje notatki</h1>
    </div>
    <div class="col-8 text-right header-container-section">
      <div *ngIf="!authService.userIdentity">
        <button class="header-btn" (click)="login()">Zaloguj się</button>
      </div>
      <div *ngIf="authService.userIdentity">
        <span class="hello-user">Witaj, {{authService.userIdentity.firstName}} {{authService.userIdentity.lastName}}</span>
        <button class="header-btn" (click)="logout()">Wyloguj się</button>
      </div>
    </div>
  </div>
</div>
