<div class="section-container">
  <div class="content d-flex flex-column">
    <p class="h1">Zaloguj się</p>
    <mat-form-field class="d-block input container">
      <input matInput placeholder="Adres email" required [(ngModel)]="email">
      <mat-error>Adres email jest wymagany</mat-error>
    </mat-form-field>
    <mat-form-field class="d-block input container">
      <input matInput placeholder="Hasło" required [(ngModel)]="password">
      <mat-error>Hasło jest wymagane</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submit()">Zaloguj się</button>
  </div>
</div>
