.bar-container {
  border-top: 1px solid rgb(224, 224, 224);
  margin: 0 2rem;

  &-section {
    margin-right: 2rem;
  }

  .btn-add {

    button {
      border: none;
      font-size: 3rem;
      cursor: pointer;
      background-color: transparent;

      fa-icon {
        // padding: 0;
        transition: all 400ms;

        &:hover {
          color: #3F51B5;
          text-shadow: 2px 2px 4px #000000;
        }

      }
    }
  }
}

.table-container {
  margin: 0 2rem 0;

  table {
    width: 100%;
    font-size: 1.4rem;

    button {
      background-color: transparent;
      border: 0;
      margin: 0 5px;

      fa-icon {
        font-size: 1.8rem;
        padding-left: 1rem;
        transition: all 400ms;
        cursor: pointer;

        &:hover {
          color: #3F51B5;
          // text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          text-shadow: 2px 2px 4px #000000;
        }
      }
    }
  }

}
