<div class="bar-container d-flex align-items-center">
  <div class="bar-container-section btn-add">
    <button [routerLink]="['/userAdd']">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
    </button>
  </div>
  <div class="bar-container-section">
    <app-user-filter (changedValue)="onFilterChanged($event)" (checkedValue)="onCheckedChange($event)">
    </app-user-filter>
  </div>
</div>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of displayedHeaders"> {{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.userRole | userRoleFormatter}}</td>
        <td>{{user.active === true ? 'Aktywny' : 'Nieaktywny'}}</td>
        <td>
          <button (click)="goToEdit(user.id)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
