<main class="app-wrapper d-flex justify-content-center align-items-center">
  <div class="app-container">
    <div class="content-container d-flex flex-column">
      <app-header></app-header>
      <!-- <div class="container-fluid title-menu-container"> -->
      <div class="title-menu-container">
        <div class="title">
          <app-page-title></app-page-title>
        </div>
        <div class="menu">
          <app-menu></app-menu>
        </div>
      </div>
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
