<div class="section-container">
  <div class="content d-flex flex-column">
    <p class="h1 mb-4 text-center">Dodaj zadanie</p>
    <form [formGroup]="taskForm">

      <mat-form-field class="d-block">
        <input formControlName="summary" matInput placeholder="Zadanie" required>
        <mat-error>Treść zadania jest wymagana</mat-error>
      </mat-form-field>

      <mat-form-field class="d-block">
        <input formControlName="content" matInput placeholder="Szczegóły zadania">
      </mat-form-field>

      <app-task-type formControlName="taskType"></app-task-type>
      <app-task-status formControlName="taskStatus"></app-task-status>

      <mat-form-field class="d-block">
        <input matInput [ngxMatDatetimePicker]="pickercreatedDate" placeholder="Data dodania zadania"
          formControlName="createdDate">
        <mat-datepicker-toggle matSuffix [for]="pickercreatedDate"></mat-datepicker-toggle>
        <mat-error>Data dodania zadania jest wymagana</mat-error>
        <ngx-mat-datetime-picker #pickercreatedDate></ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field class="d-block">
        <input matInput [ngxMatDatetimePicker]="pickerexpiredDate" placeholder="Do kiedy zadanie ma zostać zakończone"
          formControlName="expiredDate">
        <mat-datepicker-toggle matSuffix [for]="pickerexpiredDate"></mat-datepicker-toggle>
        <mat-error>Data zakończenia zadania jest wymagana</mat-error>
        <ngx-mat-datetime-picker #pickerexpiredDate></ngx-mat-datetime-picker>
      </mat-form-field>

      <button (click)="addTask()" class="float-right" mat-raised-button color="primary">Zapisz</button>
      <button (click)="back()" class="float-right" mat-stroked-button color="primary">Anuluj</button>

    </form>

  </div>
</div>
