* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #3F51B5;
  --color-secondary: #E0D622;
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  outline: none;
}
