<div class="task-details-container">
  <div class="task-details">
    <h2>Szczegóły zadania</h2>
    <ul>
      <li><span>Zadanie:</span> {{task.summary}}</li>
      <li><span>Szczegóły:</span> {{task.content}}</li>
      <li><span>Typ zadania:</span> {{task.taskType.name}}</li>
      <li><span>Status zadania:</span> {{task.taskStatus.name}}</li>
      <li><span>Data utworzenia:</span> {{task.createdDate}}</li>
      <li><span>Do kiedy?:</span> {{task.expiredDate}}</li>
      <li><span>Data zakończenia:</span> {{task.endedDate}}</li>
    </ul>
  </div>
</div>
